<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1>가게 리스트</h1>
        <select id="dtoSelect">
            <option th:each="dto : ${storeDTOList}" th:value="${dto.id}" th:text="${dto.storeName}"></option>
        </select>
        <div th:each="dto:${storeDTOList}">
            <div class="card" style="width: 18rem;">
                <img th:if="${dto.path != null}"
                     th:src="|/display?fileName=${dto.getThumbnailURL()}|" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">[[${dto.storeName}]]</h5>
                    <p class="card-text">[[${dto.storeDes}]]</p>
                </div>
            </div>

            <div th:each="menu:${dto.menuDTOList}" id="menuListView">
                <div class="w-layout-blockcontainer container w-container">
                    <div class="menu_card"><img th:src="|/display?fileName=${menu.getThumbnailURL()}|" loading="lazy" id="w-node-_965acd6c-d97a-bac4-78c1-b1ddcae45480-78d18556" alt="">
                        <div id="w-node-_6da358a5-3905-9059-f47d-c14a375d859d-78d18556" class="menu_content">
                            <h3>[[${menu.menuName}]]</h3>
                            <h4>[[${menu.menuPrice}]]원</h4>
                            <p>[[${menu.menuDesc}]]</p>
                            <div th:each="option:${menu.menuOptionDTOList}">
                                <p>[[${option.opName}]]</p>
                                <p>[[${option.opPrice}]]</p>
                            </div>
                            <label>옵션이름</label>
                            <input type="text">
                            <label>옵션가격</label>
                            <input type="number">
                            <button class="btn-primary" th:id="'optionBtn'+${menu.id}" onclick="addOption(this.getAttribute('value'))" name="detail_btn" th:attr="value=${menu.id}">add option</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menuRegister">
                <input type="hidden" name="store_id" id="store_id" th:value="${dto.id}">
                <div class="form-group">
                    <label>메뉴이름</label>
                    <input type="text" required class="form-control" id="menuName" name="menuName"/>
                </div>
                <select class="form-group" id="menuType" name="menuType">
                    <option value="MAIN">메인메뉴</option>
                    <option value="SIDE">사이드메뉴</option>
                    <option value="ECT">기타</option>
                </select>
                <div class="form-group">
                    <label>메뉴가격</label>
                    <input type="number" class="form-control" id="menuPrice" name="menuPrice"/>
                </div>
                <div class="form-group">
                    <label>메뉴 설명</label>
                    <input type="text" required class="form-control" id="menuDesc" name="menuDesc"/>
                </div>
                <div class="form-group">
                    <label>메뉴 이미지</label>
                    <input type="file" class="menu-image-input files" id="fileInput">
                    <label class="menu-image-label" data-browse="Browse"></label>
                </div>
                <div class="uploadResult">
                    <ul></ul>
                </div>
                <button type="submit" onclick="submitForm()" class="btn btn-primary">메뉴추가</button>
            </div>
        </div>
    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function(e){

        //이미지 추가시 썸네일이 뜨는 과정
        $(".menu-image-input").on("change", function() {
            let fileName = $(this).val().split("\\").pop();
            $(this).siblings(".menu-image-label").addClass("selected").html(fileName);
            let formData = new FormData();
            let inputFile = $(this);
            let file = inputFile[0].files[0];
            if (file) {
                formData.append("uploadFile", file);
            } else {
                return;
            }

            $.ajax({
                url:'/uploadAjax',
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function(result) {
                    console.log(result);
                    showResult(result);
                },
                error: function(err) {
                  console.log(err);
                }
            })
        })

        function showResult(obj) {
          let str = "";
          let uploadUL = $(".uploadResult ul");
          str += "<li>"
          str += "<div>"
          str += "<button type='button' data-file='"+obj.imageURL+"' class='btn-warning btn-sm'>X</button>"
          str += "<img src='/display?fileName="+obj.thumbnailURL+"'>";
          str += "</div></li>"
          str += "<input type='hidden' id='imgName' name='imgName' value='"+obj.fileName+"' >";
          str += "<input type='hidden' id='path' name='path' value='"+obj.folderPath+"' >";
          str += "<input type='hidden' id='uuid' name='uuid' value='"+obj.uuid+"' >";
          uploadUL.append(str);
        }
    })


    //메뉴 추가 버튼 클릭시 아작스로 데이터 저장
    function submitForm() {
        let storeId = $("#store_id").val;
        let menuData = {
            store_id: $('#store_id').val(),
            menuName: $('#menuName').val(),
            menuType: $('#menuType').val(),
            menuPrice: $('#menuPrice').val(),
            menuDesc: $('#menuDesc').val(),
            imgName: $('#imgName').val(),
            path: $('#path').val(),
            uuid: $('#uuid').val()
        };
        console.log(menuData);
        $.ajax({
            type: "POST",
            url: "/manager/menu/",
            data: JSON.stringify(menuData),
            contentType: "application/json",
            success: function (menuList) {
                console.log(menuList)
                //location.reload();
            },
            error: function (e) {
               console.log(e)
            }
        })
    }

    function addOption(menuId) {
        let btn = $('#optionBtn'+menuId);
        let opName = btn.prevAll('input[type="text"]').first().val();
        let opPrice = btn.prevAll('input[type="number"]').first().val();

        let optionData = {
            menu_id: menuId,
            opName: opName,
            opPrice: opPrice
        };
        console.log(optionData);
        $.ajax({
            type: "POST",
            url: "/manager/option/",
            data: JSON.stringify(optionData),
            contentType: "application/json",
            success: function (optionList) {
                console.log(optionList);
                //location.reload();
            },
            error: function (e) {
               console.log(e)
            }
        })
    }
</script>
</html>