<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">

    <section class="section">
      <div class="w-layout-blockcontainer container w-container">
        <div class="storelistbox">
          <div class="gray-box">
            <div th:each="dto:${storeDTOList}">
            <a th:href="@{/store/update/{id}(id=${dto.id})}" class="storeupdatecard w-inline-block"><img th:if="${dto.path != null}" th:src="|/display?fileName=${dto.getThumbnailURL()}|" loading="lazy" alt="" class="storeupdateimg">
              <h3>[[${dto.storeName}]]</h3>
              <div class="storeadress">[[${dto.storeDes}]]</div>
            </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="w-layout-blockcontainer container w-container">
        <div class="menuupdate">
          <div th:if="${storeDTO != null}" th:each="menu: ${storeDTO.menuDTOList}" id="menuListView">
          <div class="menu-update-modal rework">
            <div class="menu-modal-header">
              <h4 class="menu-modal-head-text">YOGIZOGI</h4>
              <div class="delete-btn close-btn">delete</div>
            </div>
            <div class="menu-update-formblock w-form">
              <form name="email-form" data-name="Email Form" method="get" class="menu-update-form" data-wf-page-id="660e43c0ad4d459d38f1bc44" data-wf-element-id="ead3f250-8638-ac37-1d41-e8de00953b2d">
                <div class="menu-modal-body">
                  <div class="menu-modal-divide"><img th:src="|/display?fileName=${menu.getImageURL()}|" loading="lazy" alt="">
                    <div id="w-node-ead3f250-8638-ac37-1d41-e8de00953b32-38f1bc44" class="menu-ubdate-form">

                      <div class="menu-update-opform">
                        <input class="input-round w-input" maxlength="256" name="field-4" data-name="Field 4" placeholder="menu name" type="text" id="field-4" required="">
                        <select id="category-2" name="category-2" data-name="Category 2" required="" class="input-round w-select">
                          <option value="korea_food">main_menu</option>
                          <option value="side_menu">side_menu</option>
                          <option value="ect">ect</option>
                        </select><input class="input-round w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="menu price" type="number" id="field-2" required="">
                        <textarea placeholder="menu description" maxlength="5000" id="field-3" name="field-3" data-name="Field 3" class="menu-update-textarea w-input"></textarea>
                      </div>

                      <div class="option-register-form">
                        <div class="menu-update-price">option register</div>
                        <div class="option-input"><input class="input-round w-input" maxlength="256" name="field-4" data-name="Field 4" placeholder="option name" type="text" id="field-4" required=""><input class="input-round w-input" maxlength="256" name="field-4" data-name="Field 4" placeholder="option price" type="number" id="field-4" required=""></div>
                        <div class="option-list-box">
                          <div class="menu-update-option">
                            <div class="option-left">
                              <div class="option-name">option name</div>
                              <div class="option-price">option price $</div>
                            </div>
                            <a href="#" class="xbutton-update w-button">x</a>
                          </div>
                          <div class="menu-update-option">
                            <div class="option-left">
                              <div class="option-name">option name</div>
                              <div class="option-price">option price $</div>
                            </div>
                            <a href="#" class="xbutton-update w-button">x</a>
                          </div>
                          <div class="menu-update-option">
                            <div class="option-left">
                              <div class="option-name">option name</div>
                              <div class="option-price">option price $</div>
                            </div>
                            <a href="#" class="xbutton-update w-button">x</a>
                          </div>
                          <div class="menu-update-option">
                            <div class="option-left">
                              <div class="option-name">option name</div>
                              <div class="option-price">option price $</div>
                            </div>
                            <a href="#" class="xbutton-update w-button">x</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="meu-update-btn">
                    <a href="#" class="menu-update-btn w-inline-block">
                      <div class="menu-update-btntext">update</div>
                    </a>
                  </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          </div>
          <div class="menu-update-modal rework">
            <div class="menu-modal-header">
              <h4 class="menu-modal-head-text">YOGIZOGI</h4>
            </div>
            <div class="menu-update-formblock w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="menu-update-form" data-wf-page-id="660e43c0ad4d459d38f1bc44" data-wf-element-id="6b9a18d6-3a39-927d-7280-9fd725c5a253">
                <div class="menu-modal-body">
                  <div class="menu-modal-divide">
                    <div class="image-insert">
                      <div class="w-embed"><input id="fileInput" type="file">
                        <label data-browse="Browse"></label>
                      </div>
                    </div>
                    <div id="w-node-_7f843201-413a-1e2b-c485-62248731218e-38f1bc44" class="menu-ubdate-form">
                      <div class="menu-update-price">menu name</div><input class="input-round w-input" maxlength="256" name="field" data-name="Field" placeholder="menu name" type="text" id="field" required="">
                      <div class="menu-update-price">category</div><select id="category" name="category" data-name="category" required="" class="input-round w-select">
                        <option value="korea_food">main_menu</option>
                        <option value="side_menu">side_menu</option>
                        <option value="ect">ect</option>
                      </select>
                      <div class="menu-update-price">menu price</div><input class="input-round w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="menu price" type="number" id="field-2" required="">
                      <div class="menu-update-price">menu description</div><textarea placeholder="menu description" maxlength="5000" id="field-3" name="field-3" data-name="Field 3" class="menu-update-textarea w-input"></textarea>
                    </div>
                  </div>
                  <div class="meu-update-btn">
                    <a href="#" class="menu-update-btn w-inline-block">
                      <div class="menu-update-btntext">register</div>
                    </a>
                  </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</th:block>
<script th:inline="javascript">
  $(document).ready(function(e){

      //이미지 추가시 썸네일이 뜨는 과정
      $(".menu-image-input").on("change", function() {
          let fileName = $(this).val().split("\\").pop();
          $(this).siblings(".menu-image-label").addClass("selected").html(fileName);
          let formData = new FormData();
          let inputFile = $(this);
          let file = inputFile[0].files[0];
          if (file) {
              formData.append("uploadFile", file);
          } else {
              return;
          }

          $.ajax({
              url:'/uploadAjax',
              type: 'post',
              data: formData,
              processData: false,
              contentType: false,
              dataType: 'json',
              success: function(result) {
                  console.log(result);
                  showResult(result);
              },
              error: function(err) {
                console.log(err);
              }
          })
      })

      function showResult(obj) {
        let str = "";
        let uploadUL = $(".uploadResult ul");
        str += "<li>"
        str += "<div>"
        str += "<button type='button' data-file='"+obj.imageURL+"' class='btn-warning btn-sm'>X</button>"
        str += "<img src='/display?fileName="+obj.thumbnailURL+"'>";
        str += "</div></li>"
        str += "<input type='hidden' id='imgName' name='imgName' value='"+obj.fileName+"' >";
        str += "<input type='hidden' id='path' name='path' value='"+obj.folderPath+"' >";
        str += "<input type='hidden' id='uuid' name='uuid' value='"+obj.uuid+"' >";
        uploadUL.append(str);
      }
  })


  //메뉴 추가 버튼 클릭시 아작스로 데이터 저장
  function submitForm() {
      let storeId = $("#store_id").val;
      let menuData = {
          store_id: $('#store_id').val(),
          menuName: $('#menuName').val(),
          menuType: $('#menuType').val(),
          menuPrice: $('#menuPrice').val(),
          menuDesc: $('#menuDesc').val(),
          imgName: $('#imgName').val(),
          path: $('#path').val(),
          uuid: $('#uuid').val()
      };
      console.log(menuData);
      $.ajax({
          type: "POST",
          url: "/manager/menu/",
          data: JSON.stringify(menuData),
          contentType: "application/json",
          success: function (menuList) {
              console.log(menuList)
              location.reload();
          },
          error: function (e) {
             console.log(e)
          }
      })
  }

  function addOption(menuId) {
      let btn = $('#optionBtn'+menuId);
      let opName = btn.prevAll('input[type="text"]').first().val();
      let opPrice = btn.prevAll('input[type="number"]').first().val();

      let optionData = {
          menu_id: menuId,
          opName: opName,
          opPrice: opPrice
      };
      console.log(optionData);
      $.ajax({
          type: "POST",
          url: "/manager/option/",
          data: JSON.stringify(optionData),
          contentType: "application/json",
          success: function (optionList) {
              console.log(optionList);
              location.reload();
          },
          error: function (e) {
             console.log(e)
          }
      })
  }
</script>
</html>