<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<div class="sysf-modal-wrapper">
    <div class="sysf-container">
        <div class="sysf-wrapper-m">
            <div class="sysf-modal">
                <div class="sysf-modal-header">
                    <div class="sysf-modal-header-title">address</div>
                    <div class="material-icons-2 sysf-icon-close closeBtn">close</div>
                </div>
                <div class="sysf-modal-content">
                    <div class="w-form">
                        <div id="email-form" name="email-form" data-name="Email Form" data-wf-page-id="660faa92d6efb355e798c4d1" data-wf-element-id="ebf8a01b-2cf1-1db5-a43f-d7aec22b847e">
                            <label class="modal_label">이름</label>
                            <input class="modal_input w-input" type="text" name="name" id="name">
                            <label class="modal_label">연락처</label>
                            <input class="modal_input w-input" type="text" name="phone" id="phone">
                            <label class="modal_label">우편주소</label>
                            <div class="address1boxbtn">
                                <input class="modal_input2 w-input" name="address1" id="address1" type="text">
                                <a href="#" class="address1btn w-button" onclick="sample6_execDaumPostcode()">우편번호</a>
                            </div>
                            <label class="modal_label">도로명주소</label>
                            <input class="modal_input w-input" type="text" name="address2" id="address2">
                            <label class="modal_label">상세주소</label>
                            <input class="modal_input w-input" type="text" name="address3" id="address3">
                        </div>
                    </div>
                    <div class="sysf-modal-buttons-wrapper">
                        <a href="#" class="sysf-button sysf-small sysf-outline w-inline-block">
                            <div class="sysf-button-text closeBtn">닫기</div>
                        </a>
                        <a href="#" class="sysf-button sysf-small sysf-s-m-l-8 w-inline-block">
                            <div class="sysf-button-text" id="addAddressButton">주소 추가</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="section">
            <div class="w-layout-blockcontainer container w-container">
                <div class="adress_div">
                    <div class="address_select">
                        <div class="address_text">배송지 선택</div>
                        <div class="adress_name_btn">
                            <div class="select-form w-form">
                                <div id="wf-form-Select-Form" name="wf-form-Select-Form" class="sysf-form">
                                    <select id="addressSelect" name="select-1" class="sysf-select sysf-medium w-select">
                                        <div th:if="${addressDTOList != null}">
                                            <option th:each="addressDTO, addressDTOState : ${addressDTOList}" th:value="${addressDTOState.index}"
                                                th:text="${'우편번호 : '+addressDTO.address1+'  '+addressDTO.address2+' '+addressDTO.address3}"></option>
                                        </div>
                                        <option th:unless="${addressDTOList != null}">---배송지를 추가해주세요.---</option>
                                    </select>
                                </div>
                            </div>
                            <a href="#" class="adress_insert_btn w-button">주소 추가하기</a>
                        </div>
                    </div>
                    <div class="address_show">
                        <div class="address_current">order adderss</div>
                        <div class="name_phone_text">
                            <div class="name_text">name</div>
                            <div class="phone_text">010-1234-5678</div>
                        </div>
                        <div class="adress_detail">korea ulsan north .......................</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="w-layout-blockcontainer container w-container">
                <div class="orderlist">
                    <div class="orderlist_top_menu">
                        <div class="top_text">[[${storeName}]] </div>
                    </div>
                    <div class="orderlist_show">
                        <div th:each = "menuDTO : ${cartDTO.cartMenuDTOList}">
                            <div class="order_sumery">
                                <img th:src="|/display?fileName=${menuDTO.getThumbnailURL()}|" loading="lazy" alt="" class="ordermenuimg">
                                <div class="div-block-9">
                                    <h3 class="orderlist_menutext">[[${menuDTO.menu_name}]]</h3>
                                    <div th:each = "optionDTO : ${menuDTO.cartMenuOptionDTOList}">
                                        <div th:if = "${optionDTO.checked}" class="order_option_price">선택 : [[${optionDTO.menuOption_name+"  "+optionDTO.menuOption_price}]] 원</div>
                                    </div>
                                    <div class="div-block-10">
                                        <div class="text_price">메뉴 가격 : [[${menuDTO.menu_price}]] 원</div>
                                        <div class="text_blank"> / </div>
                                        <div class="text_count">[[${menuDTO.count}]] 개</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="charge_show">
                        <div class="price_summery">
                            <div class="price_text_number">
                                <div class="price_text">총 메뉴가격</div>
                                <div class="order_price" id="totalMenuPrice">20000$</div>
                            </div>
                            <div class="price_text_number">
                                <div class="price_text">할인금액</div>
                                <div class="order_price">0 원</div>
                            </div>
                            <div class="price_text_number">
                                <div class="price_text">배달요금</div>
                                <div class="order_price">[[${deliveryTip}]] 원</div>
                            </div>
                        </div>
                    </div>
                    <div class="order_totalprice">
                        <div class="price_text_number">
                            <div class="price_text">총 주문금액</div>
                            <div class="order_price" id="allTotalPrice">20000$</div>
                        </div>
                    </div>
                    <div class="order_btrn">
                        <a href="#" class="order_bigbtn w-button" id="orderBtn">order</a>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
</body>
<script th:inline="javascript">

    const modalWindow = $(".sysf-modal-wrapper");
    let cartDTO = [[${cartDTO}]];
    let addressDTOList = [[${addressDTOList}]];
    let storeId = [[${storeId}]];
    let addressIndex = 0;
    let allTotalPrice = 0;
    let order_uuid = self.crypto.randomUUID();

    $(document).ready(function() {
        if(addressDTOList != null) {
            selectAddressShow(addressIndex);
        }else {
            $('.address_show').html("새로운 주소를 추가해주세요.");
        }
        cartAmountShow(cartDTO);
        //$.ajax({
        //        url: "/order/prepare",
        //        method: "post",
        //        contentType: "application/json",
        //        data: JSON.stringify({
        //            merchant_uid: order_uuid, // 가맹점 주문번호
        //            amount: allTotalPrice // 결제 예정금액
        //        })
        // });
    })

    //버튼 클릭시 모달 창 열림
    $('.adress_insert_btn').on('click', function() {
        modalWindow.show();
    })

    //버튼 클릭 시 모달 창 닫힘
    $('.closeBtn').on('click', function() {
        modalWindow.hide();
    })

    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("address3").value = extraAddr;
                } else {
                    document.getElementById("address3").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('address1').value = data.zonecode;
                document.getElementById("address2").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address3").focus();
            }
        }).open();
    }

    $('#addAddressButton').click(function() {
            // 회원 입력 데이터 수집
            let addressData = {
                name : $('#name').val(),
                phone : $('#phone').val(),
                address1 : $('#address1').val(),
                address2 : $('#address2').val(),
                address3 : $('#address3').val()
            };
            console.log(addressData);

            // Ajax 요청 보내기
            $.ajax({
                type: 'POST',
                url: '/address/save', // 주소 저장을 처리하는 서버 엔드포인트
                data: JSON.stringify(addressData), // 데이터를 JSON 형식으로 변환
                contentType: 'application/json', // Content-Type을 application/json으로 설정
                success: function(response) {
                    // 주소 추가 성공 시 처리
                    alert('주소가 성공적으로 저장되었습니다.');
                    location.reload();
                },
                error: function(xhr, status, error) {
                    // 주소 저장 실패 시 처리
                    alert('주소 저장에 실패하였습니다. 에러 메시지: ' + error);
                }
            });
    });

    //주소를 바꿀 때 주소의 인덱스 값을 받아 배송지 표기를 바꾸는 함수
    $("#addressSelect").on('change', function() {
        if(addressDTOList != null) {
            let index = $("#addressSelect").val();
            addressIndex = parseInt(index);
            selectAddressShow(addressIndex);
        }else {
            $('.address_show').html("새로운 주소를 추가해주세요.");
        }
    })

    function selectAddressShow(index) {
        let address = addressDTOList[index];
        let phone = address.phone;
        let phoneChange = phone.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');
        //let phoneChange = phone.substring(0, 3)+"-"+phone.substring(3, 7)+"-"+phone.substring(7);
        let str = "";

        str += "<div class='address_current'>배송지</div>"
        str += "<div class='name_phone_text'><div class='name_text'>"+address.name+"</div>"
        str += "<div class='phone_text'>"+phoneChange+"</div></div>"
        str += "<div class='adress_detail'>우편번호 : "+address.address1+"  "+address.address2+" "+address.address3+"</div>"

        $('.address_show').html(str);
    }

  //메뉴 가격을 표기하는 함수
  function cartAmountShow(cartDTO) {
    if(cartDTO != null) {
      let cartTotalPrice = 0;
      for(let index = 0; index < cartDTO.cartMenuDTOList.length; index++) {
        let CartMenuDTO = cartDTO.cartMenuDTOList[index];
        let totalPrice = 0;
        let menuPrice = CartMenuDTO.menu_price;
        totalPrice += parseInt(menuPrice);
        for (let i = 0; i < CartMenuDTO.cartMenuOptionDTOList.length; i++) {
          let ctOption = CartMenuDTO.cartMenuOptionDTOList[i];
          let opChecked = ctOption.checked;
          let opPrice = ctOption.menuOption_price;
          if(opChecked) {
            totalPrice += parseInt(opPrice);
          }
        }
        let amount = CartMenuDTO.count;
        totalPrice = totalPrice*parseInt(amount);
        cartTotalPrice += totalPrice;
      }
      $('#totalMenuPrice').html(cartTotalPrice+' 원');
      let deliveryTip = [[${deliveryTip}]];
      allTotalPrice = cartTotalPrice+deliveryTip;
      $('#allTotalPrice').html(allTotalPrice+' 원');
    }else {
      $('#allTotalPrice').html('0 원');
    }
  };

    //결제 창 뛰우기

    $('#orderBtn').on('click' ,function() {
        payment();
    })

    function payment() {

        let addressDTO = addressDTOList[addressIndex];
        let storeName = [[${storeName}]];
        let userEmail = [[${userEmail}]];

        const data = {
            //인풋 타입 중 라디오에서 체크된 것 확인
            pay_method: $("input[type='radio']:checked").val(),
            order_uuid: order_uuid,
            userEmail : userEmail,
            storeName: storeName,
            buyer_name: addressDTO.name,
            buyer_tel: addressDTO.phone,
            address1 : addressDTO.address1,
            address2 : addressDTO.address2,
            address3 : addressDTO.address3,
            totalPrice : allTotalPrice
        }
        paymentCard(data);
    }

  function paymentCard(data) {

	IMP.init("imp14866823");

	IMP.request_pay({ // param
		pg: "html5_inicis",
	  	pay_method: data.pay_method,
	  	merchant_uid: data.order_uuid,
	  	name: data.storeName,
	  	amount: data.totalPrice,
	   	buyer_email: data.userEmail,
	   	buyer_name: data.buyer_name,
	  	buyer_tel: data.buyer_tel,
	  	buyer_addr: data.address2 + " " + data.address3,
	  	buyer_postcode: data.address1
  	},
	function (rsp) { // callback
		if (rsp.success) {
		    console.log(rsp);
		    let data = {
                imp_uid: rsp.imp_uid,            // 결제 고유번호
                merchant_uid: rsp.merchant_uid,  // 주문번호
                amount: rsp.paid_amount
            }
            $.ajax({
                url: '/payment/verification',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function (data) {
                // 주문 금액이 들어있음
                // 위의 rsp.paid_amount 와 data.response.amount를 비교한후 로직 실행 (import 서버검증)
                if (rsp.paid_amount == data.response.amount) {
                    console.log(data);
                    alert("결제 및 결제검증완료");
                    orderCreate(data);
                } else {
                    alert("결제 검증 실패");
                    orderCancel(rsp.merchant_uid);
                }
            });
		} else {
          // 결제 실패 시 로직,
          console.log("결제 실패 "+rsp);
		}
	});
  }

function orderCreate(data) {
      let merchantUid = data.response.merchantUid;
      let totalPrice = data.response.amount;
      let address_id = addressDTOList[addressIndex].address_id;
      let orderMenuDTOList = [];

      for (let i = 0; i < cartDTO.cartMenuDTOList.length; i++) {
        let cartMenuDTO = cartDTO.cartMenuDTOList[i];
        let menuPrice = cartMenuDTO.menu_price;
        let count = cartMenuDTO.count;
        let selectOp = "";

        for (let i = 0; i < cartMenuDTO.cartMenuOptionDTOList.length; i++) {
            cartOpDTO = cartMenuDTO.cartMenuOptionDTOList[i];
            if(cartOpDTO.checked) {
                menuPrice += cartOpDTO.menuOption_price;
                selectOp += cartOpDTO.menuOption_name+"%"+cartOpDTO.menuOption_price;
            }
        }

        let orderMenuDTO = {
              menuPrice : menuPrice,
              menuName : cartMenuDTO.menu_name,
              selectOp :  selectOp,
              count : count
        };
        orderMenuDTOList.push(orderMenuDTO);
      }

      let orderDTO = {
          store_id: storeId,
          merchant_uid : merchantUid,
          orderMenuDTOList : orderMenuDTOList,
          totalPrice : totalPrice,
          address_id : address_id
      }
      console.log(orderDTO);
      $.ajax({
          type: "POST",
          url: "/order/orderCreate",
          data: JSON.stringify(orderDTO),
          contentType: "application/json",
          success: function (response) {
              console.log("주문 저장 완료");
          },
          error: function (e) {
             console.log(e)
          }
      })
}
</script>
</html>