<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="section">
            <div class="w-layout-blockcontainer container w-container">
                <div class="myorderlist">
                    <div class="orderlistheading">
                        <h2 class="orderhead">내 주문목록</h2>
                    </div>
                    <div th:each="orderDTO:${orderDTOList}">
                        <div class="ordercard">
                            <div class="ordercard_flexrow"><img th:src="|/display?fileName=${orderDTO.getThumbnailURL()}|" loading="lazy" alt="" class="ordercard_thumnail">
                                <div class="orderdesc">
                                    <div class="orderstoretime">
                                        <h3 class="orderstorename">[[${orderDTO.storeName}]]</h3>
                                        <div class="ordertime">[[${orderDTO.regDate}]]</div>
                                    </div>
                                    <div>배송지 : [[${orderDTO.address1+" "+orderDTO.address2+" "+orderDTO.address3}]]</div>
                                    <div th:each="orderMenu:${orderDTO.orderMenuDTOList}">
                                        <div class="ordermenunp">
                                            <div>메뉴이름 : [[${orderMenu.menuName}]]</div>
                                            <div>메뉴가격 : [[${orderMenu.menuPrice}]] 원</div>
                                            <div>개수 : [[${orderMenu.count}]] 개</div>
                                        </div>
                                    </div>
                                    <div>배달비 : [[${orderDTO.deliveryTip}]] 원</div>
                                    <h4 class="ordertotalprice">총 주문금액 : [[${orderDTO.totalPrice}]] 원</h4>
                                </div>
                                <div class="orderbtnwrap">
                                    <a href="#" class="orderdetailbtn w-button" th:data-value="${orderDTO.order_id}" id="orderCancel">주문 취소</a>
                                    <a href="#" class="orderdetailbtn w-button">리뷰 쓰기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
</body>
<script th:inline="javascript">
    $(document).ready(function() {
        let orderDTOList = [[${orderDTOList}]];
        console.log(orderDTOList);
    })

    $('#orderCancel').on('click', function(e) {

        let order_id = $(this).attr('data-value');

        $.ajax({
        type: "POST",
        url: "/payment/cancel",
        data: order_id,
        contentType: "application/json; charset=utf-8",
        success: function (response) {
                alert("결제가 취소되었습니다.");
            },
        error: function (error) {
                alert("결제 취소 실패");
            }
        })
    })
</script>
</html>