<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">GreenShop</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER')">
                    <a class="nav-link" href="/store/register">가게등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/store/list">가게 목록</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER')">
                    <a class="nav-link" href="/store/register">가게 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/itemlist"
                       sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER')">상품관리</a>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/order/cart">장바구니</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/orderlist">구매이력</a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <!-- 인증 받지 않음 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/member/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/signup">회원가입</a>
                    </li>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <!-- 인증 받음 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃</a>
                    </li>
                </th:block>

            </ul>
            <div class="search_box">
                <!-- 검색 폼 -->
                <form th:action="@{/search}" method="get" th:object="${searchForm}" autocomplete="off">
                    <div class="sch_group fl">
                        <!-- 검색 유형 선택 -->
                        <select id="searchType" name="searchType" title="검색 유형 선택">
                            <option value="">전체 검색</option>
                            <option value="category">카테고리</option>
                            <option value="storeName">이름</option>
                            <option value="deliveryTip">배달팁</option>
                            <option value="deliveryTime">배달시간</option>
                        </select>
                        <!-- 키워드 입력 -->
                        <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" th:value="${searchForm.keyword}" />
                        <!-- 검색 버튼 -->
                        <button type="submit" class="bt_search"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<script>
// 페이지 이동
function movePage(page) {

// 1. 검색 폼
const form = document.getElementById('searchForm');

// 2. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
const queryParams = {
page: (page) ? page : 1,
recordSize: 10,
pageSize: 10,
searchType: form.searchType.value,
keyword: form.keyword.value
}

/*
* 3. location.pathname : 리스트 페이지의 URI("/post/list.do")를 의미
*    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
*    URI + 쿼리 스트링에 해당하는 주소로 이동
*    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
*/
location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
}
</script>
</html>