<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">
  <section class="section">
      <div class="w-layout-blockcontainer container w-container">
        <div class="form-block w-form">
          <form class="form" action="/loginProc" method="post" data-wf-page-id="660dfa697586c0f40ecbd7bc" data-wf-element-id="8c19d45e-e7cd-eaa9-47e2-f0aaebe7e10b">
            <div>
              <label >Email Address</label>
              <p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></p>
              <input class="text-input w-input" maxlength="256" type="text" id="email" name="username">
            </div>
            <div>
              <label for="email">Password</label>
              <input class="text-input w-input" maxlength="256" type="password" id="password" name="password">
            </div>
            <input type="submit" data-wait="Please wait..." class="login-btn w-button" value="Log in">
          </form>

        <div class="outerlogin">
          <div class="line-or">
            <div class="line-block"></div>
            <div class="text-block-8">or</div>
            <div class="line-block"></div>
          </div>
            <a href="/oauth2/authorization/google" class="outerlogin-btn w-inline-block">
            <div class="w-embed"><svg width="18" height="18" viewbox="0 0 256 262" xmlns="http://www.w3.org/2000/svg" class="cw cx" preserveaspectratio="xMidYMid">
                <path d="M255.9 133.5c0-10.8-.9-18.6-2.8-26.7H130.6v48.4h71.9a63.8 63.8 0 01-26.7 42.4l-.2 1.6 38.7 30 2.7.3c24.7-22.8 38.9-56.3 38.9-96" fill="#4285F4"></path>
                <path d="M130.6 261.1c35.2 0 64.8-11.6 86.4-31.6l-41.2-32c-11 7.8-25.8 13.1-45.2 13.1a78.6 78.6 0 01-74.3-54.2l-1.5.1-40.3 31.2-.6 1.5C35.4 231.8 79.5 261 130.6 261" fill="#34A853"></path>
                <path d="M56.3 156.4a80.4 80.4 0 01-.2-51.7V103L15.3 71.3l-1.4.6a130.7 130.7 0 000 117.3l42.4-32.8" fill="#FBBC05"></path>
                <path d="M130.6 50.5c24.5 0 41 10.6 50.4 19.4L218 34C195.2 13 165.8 0 130.6 0 79.5 0 35.4 29.3 13.9 72l42.2 32.7a79 79 0 0174.4-54.2" fill="#EB4335"></path>
              </svg></div>
            <div class="text-block-7">google</div>
          </a>
          <a href="/oauth2/authorization/naver" class="outerlogin-btn w-inline-block"><img src="/images/naver.svg" loading="lazy" alt="" class="image-6"></a>
          <a href="/oauth2/authorization/kakao" class="outerlogin-btn w-inline-block">
            <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 148 148">
                <title>KakaoTalk logo - Brandlogos.net</title>
                <path d="M384,330.81c-33.21,0-60.12,21.22-60.12,47.41,0,16.93,11.25,31.78,28.18,40.17-.92,3.18-5.92,20.43-6.12,21.79,0,0-.12,1,.54,1.41a1.81,1.81,0,0,0,1.44.09c1.89-.26,21.94-14.34,25.41-16.79a76.17,76.17,0,0,0,10.68.75c33.21,0,60.13-21.22,60.13-47.41S417.21,330.81,384,330.81Z" transform="translate(-310 -310)"></path>
              </svg></div>
            <div class="text-block-7">kakao</div>
          </a>
        </div>
      </div>
      </div>
    </section>
  </th:block>
</th:block>
<script type="text/javascript">
    // Thymeleaf에서 전달된 메시지를 JavaScript 변수에 할당
    // var message = [[${memberLogin}]];
    // 메시지가 비어있지 않은 경우 알람 창에 메시지 표시
    //if (!message) {
    //    alert("로그인하세요");
    //}
</script>
</html>