<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1>회원가입</h1>
        <form action="/member/signup" method="post" onsubmit="return valid()">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" required class="form-control" id="email" name="email"
                       placeholder="이메일을 입력해주세요" th:value="${signupDTO != null ? signupDTO.email : ''}"/>
                <button type="button" onclick="emailCheck()" class="btn btn-primary">이메일중복체크</button>
                <label th:if="${email != null}">[[${email}]]</label>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="최소 하나의 문자 및 숫자를 포함한 8~16자여야 합니다" th:value="${signupDTO != null ? signupDTO.password : ''}"/>
                <label th:if="${password != null}">[[${password}]]</label>
            </div>
            <div class="form-group">
                <label for="password">Password 확인</label>
                <input type="password" class="form-control" id="passwordCheck" name="passwordCheck"
                       placeholder="비밀번호를 한번 더 입력해주세요" th:value="${signupDTO != null ? signupDTO.password : ''}"/>
            </div>
            <div class="form-group">
                <label for="password">Nickname</label>
                <input type="text" class="form-control" id="nickname" name="nickname"
                       placeholder="사용할 닉네임을 입력하세요." th:value="${signupDTO != null ? signupDTO.nickname : ''}"/>
                <label th:if="${nickname != null}">[[${nickname}]]</label>
            </div>
            <div class="form-group">
                <label for="password">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone"
                       placeholder="'-' 없이 입력해 주세요" th:value="${signupDTO != null ? signupDTO.phone : ''}"/>
                <label th:if="${phone != null}">[[${phone}]]</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </th:block>
</th:block>
<script>
    //이메일 중복체크가 완료되지 않으면 전송 안되게 하기
    let isChecking = false;
    function valid() {
        if(!isChecking) {
            alert("이메일중복체크를 해주세요.");
            return false;
        }
        if(!($("#password").val() == $("#passwordCheck").val())) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        }
        return true;
    }

    function emailCheck() {
        let email = $("#email").val();
        $.ajax({
            type: "POST",
            url:"/member/emailcheck",
            data:{"email": email},
            dataType: "text"
        })
        .done(function(result) {
            if(result == "used") {
                isChecking=false;
                alert("이메일이 중복되었습니다.");
            }else {
                isChecking=true;
                alert("이메일이 중복되지않습니다.")
            }
        })
    }
</script>
</html>