<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e400eae390747a237232735511d63bb"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">
<section class="section">
  <div class="w-layout-blockcontainer container w-container">
    <div class="w-form">
      <form action="/member/signup" method="post" onsubmit="return valid()" class="signup_form" data-wf-page-id="660e61a57b4021b8cd2e728a" data-wf-element-id="0bf4527a-5ac8-2eaa-7adb-41066757e753">
        <h1 class="signup_heading">회원 가입</h1>

        <label  class="sigh-up-label">이메일</label>
        <div class="emailcheck_div">
          <input class="input-round w-input" type="text" required id="email" name="email"
                 placeholder="이메일을 입력해주세요" th:value="${signupDTO != null ? signupDTO.email : ''}" />
          <a href="#" class="button-2 w-button" onclick="emailCheck()">중복체크</a>
          <label th:if="${email != null}">[[${email}]]</label>
        </div>
        <label class="sigh-up-label">비밀번호 설정</label>
        <input class="input-round w-input" type="password" id="password" name="password"
               placeholder="최소 하나의 문자 및 숫자를 포함한 8~16자여야 합니다" th:value="${signupDTO != null ? signupDTO.password : ''}"/>
        <label th:if="${password != null}">[[${password}]]</label>

        <label class="sigh-up-label">비밀번호 확인</label>
        <input class="input-round w-input" type="password" id="passwordCheck" name="passwordCheck"
               placeholder="비밀번호를 한번 더 입력해주세요" th:value="${signupDTO != null ? signupDTO.password : ''}"/>

        <label class="sigh-up-label">닉네임</label>
        <input class="input-round w-input" type="text" id="nickname" name="nickname"
               placeholder="사용할 닉네임을 입력하세요." th:value="${signupDTO != null ? signupDTO.nickname : ''}"/>
        <label th:if="${nickname != null}">[[${nickname}]]</label>

        <label class="sigh-up-label">핸드폰 번호</label>
        <input class="input-round w-input" type="text" id="phone" name="phone"
               placeholder="'-' 없이 입력해 주세요" th:value="${signupDTO != null ? signupDTO.phone : ''}"/>
        <label th:if="${phone != null}">[[${phone}]]</label>
        <input type="submit" data-wait="Please wait..." class="signup-submit w-button" value="가입하기">
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</section>
  </th:block>
</th:block>
<script>
  //이메일 중복체크가 완료되지 않으면 전송 안되게 하기
  let isChecking = false;
  function valid() {
      if(!isChecking) {
          alert("이메일중복체크를 해주세요.");
          return false;
      }
      if(!($("#password").val() == $("#passwordCheck").val())) {
          alert("비밀번호가 일치하지 않습니다.");
          return false;
      }
      return true;
  }

  function emailCheck() {
      let email = $("#email").val();
      $.ajax({
          type: "POST",
          url:"/member/emailcheck",
          data:{"email": email},
          dataType: "text"
      })
      .done(function(result) {
          if(result == "used") {
              isChecking=false;
              alert("이메일이 중복되었습니다.");
          }else {
              isChecking=true;
              alert("이메일이 중복되지않습니다.")
          }
      })
  }
</script>
</html>