<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <body>
        <link rel="stylesheet" href="/css/store/store.css">
        <link rel="stylesheet" href="/css/store/store-li.css">
        <main>
            <div class="container">
                <div class="category" data-category="${category }">
                    <ul>
                        <li data-category ='100' onclick="location.href='/store/100/${address1 }'"><span>피자</span></li>
                        <li data-category ='101' onclick="location.href='/store/101/${address1 }'"><span>치킨</span></li>
                        <li data-category ='102' onclick="location.href='/store/102/${address1 }'"><span>패스트푸드</span></li>
                        <li data-category ='103' onclick="location.href='/store/103/${address1 }'"><span>분식</span></li>
                        <li data-category ='104' onclick="location.href='/store/104/${address1 }'"><span>카페/디저트</span></li>
                        <li data-category ='105' onclick="location.href='/store/105/${address1 }'"><span>돈까스/일식</span></li>
                        <li data-category ='106' onclick="location.href='/store/106/${address1 }'"><span>중국집</span></li>
                        <li data-category ='107' onclick="location.href='/store/107/${address1 }'"><span>족발/보쌈</span></li>
                        <li data-category ='108' onclick="location.href='/store/108/${address1 }'"><span>야식</span></li>
                        <li data-category ='109' onclick="location.href='/store/109/${address1 }'"><span>한식</span></li>
                        <li data-category ='110' onclick="location.href='/store/110/${address1 }'"><span>1인분</span></li>
                        <li data-category ='111' onclick="location.href='/store/111/${address1 }'"><span>도시락</span></li>
                    </ul>
                </div>

                <input type="hidden" id="category" value="${category}" class="category">
                <input type="hidden" id="address" value="${address1}" class="address1">

                <div class="option">
                    <ul>
                        <li data-sort="기본순">기본순</li>
                        <li data-sort="배달 빠른 순">배달 빠른 순</li>
                        <li data-sort="배달팁 낮은 순">배달팁 낮은 순</li>
                        <li data-sort="별점 높은 순">별점 높은 순</li>
                        <li data-sort="리뷰 많은 순">리뷰 많은 순</li>
                        <li data-sort="최소 주문 금액 순">최소 주문 금액 순</li>
                    </ul>
                </div>


                <div class="box" th:if="${#lists.isEmpty(storeList)}">
                    <img class="temp_img" alt="이미지" src="/img/temp2.png">
                    <style>main .box {background: #F6F6F6; max-width: 100%; }</style>
                </div>

                <ul class="store" th:unless="${#lists.isEmpty(storeList)}">
                    <th:block th:each="store : ${storeList.dtoList}">
                        <li>
                            <div class="img_box">
                                <img th:src="|/display?fileName=${store.getThumbnailURL()}|" alt="이미지">
                            </div>
                            <div class="info_box">
                                <h2>
                                    <a th:text="${store.storeName}"></a>
                                </h2>
                                <span>
            <span>최소주문금액 <span th:text="${store.minDelivery}"></span>원</span>
            <span>배달팁 <span th:text="${store.deliveryTip}"></span>원</span>
        </span>
                                <span>배달시간 <span th:text="${store.deliveryTime}"></span>분</span>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </main>
        <script type="text/javascript" src="/js/store/store.js" ></script>
        </body>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${storeList.prev}" class="page-item"><a class="page-link" href="#">Previous</a></li>
                <th:block th:each="page:${storeList.pageList}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/store/' + ${storeList.dtoList[0].category} + '/' + ${storeList.dtoList[0].storeAddress1} + '?page=' + ${page}}">[[${page}]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${storeList.next}"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </th:block>
</th:block>

</html>