<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<div class="menu-modal-wrapper">
  <div class="menu-container">
    <div class="menu-positon">
      <div class="menu-modal-window">
        <div class="menu-modal-header">
          <h4 class="menu-modal-head-text">YOGIZOGI</h4>
          <div class="material-icons sysf-icon-close" onclick="modalHide()">close</div>
        </div>
        <div class="menu-modal-body">
          <div class="menu-modal-divide">
            <img src="" loading="lazy" alt="" class="menu-modal-img" id="modalMenuImg">
            <div id="w-node-_7fa41d3a-af4d-8c97-8334-e684d10f9587-0ae922c6" class="menu-modal-body-detail">
              <div id="modalMenuId" style="display: none;"></div>
              <div id="modalMenuIndex" style="display: none;"></div>
              <h4 class="menu-modal-body-title" id="modalMenuName">menu name</h4>
              <div class="menu-modal-body-price" id="modalMenuPrice">menu price $</div>
              <p class="menu-modal-body-paragraph" id="modalMenuDesc">menu Desc</p>
              <div class="menu-optionlist">
              </div>
              <div class="menu-modal-tp">
                <div class="amoutadd">
                  <div class="amount">수량</div>
                  <div class="amountbtndiv">
                    <a href="#" class="amountbtn left w-button" id="decrease">-</a>
                      <input type="number" class="amountinput" name="count" value="1" />
                    <a href="#" class="amountbtn right w-button" id="increase">+</a>
                  </div>
                </div>
                <div class="text-block-4">총 주문금액 : <span id="menuTotalPrice"></span> 원</div>
              </div>
            </div>
          </div>
          <div class="menu-modal-button">
            <a href="#" class="menu-modal-btn w-inline-block" onclick="addToCart()">
              <div class="menu-modal-btn-text">Cart</div>
            </a>
            <a href="#" class="menu-modal-btn w-inline-block">
              <div class="menu-modal-btn-text">order</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e400eae390747a237232735511d63bb&libraries=services,clusterer,drawing"></script>

<body>
  <section>
    <div class="w-layout-blockcontainer container w-container">
      <div class="store_map">
        <div class="store_detail_wrap">
          <div class="store_detail2"><img th:src="|/display?fileName=${storeDTO.getImageURL()}|" loading="lazy" alt="" class="image">
            <div class="div-block-4">
              <h2>[[${storeDTO.storeName}]]</h2>
              <div>star score</div>
              <div>최소주문금액 : [[${storeDTO.minDelivery}]]</div>
              <div>discount</div>
            </div>
          </div>
        </div>

        <div class="map_content">
          <h4 class="mapheading">찾아 오시는 길</h4>
          <div id="store_address" th:data-address="${storeDTO.getStoreAddress2()}"></div>
          <div id="store_Name" th:data-store_name="${storeDTO.storeName}"></div>
            <div class="div-block-6" id="map">
                <script>
                  $(document).ready(function(){
                    var storeAddress = $("#store_address").data("address");
                    console.log("storeAdd: "+ storeAddress)
                    var storeName = $("#store_Name").data("store_name");
                    console.log("storeName: " + storeName)
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                              center: new kakao.maps.LatLng(33.25110701, 126.570667), // 지도의 중심좌표
                              level: 3 // 지도의 확대 레벨
                            };
                    // 지도를 생성합니다
                    var map = new kakao.maps.Map(mapContainer, mapOption);
                    // 주소-좌표 변환 객체를 생성합니다
                    var geocoder = new kakao.maps.services.Geocoder();
                    // 주소로 좌표를 검색합니다
                    geocoder.addressSearch(storeAddress, function(result, status) {
                      // 정상적으로 검색이 완료됐으면
                      if (status === kakao.maps.services.Status.OK) {
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                          map: map,
                          position: coords
                        });
                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new kakao.maps.InfoWindow({
                          content: '<div style="width:150px;text-align:center;padding:3px 0;">' + storeName + '</div>'
                        });
                        infowindow.open(map, marker);
                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                        $(".storePosition").click(function(){
                          map.panTo(coords);
                        })
                      }
                    });
                    var userAddress = $("#delivery_address").val();
                    if(userAddress != "" ) {
                      $(".userPosition").css("display" , "inline");
                      // 주소로 좌표를 검색합니다
                      geocoder.addressSearch(userAddress, function(result, status) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === kakao.maps.services.Status.OK) {
                          coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                          // 결과값으로 받은 위치를 마커로 표시합니다
                          var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                          });
                          // 인포윈도우로 장소에 대한 설명을 표시합니다
                          var infowindow = new kakao.maps.InfoWindow({
                            content: '<div style="width:150px;text-align:center;padding:3px 0;">' + "배달받을위치" + '</div>'
                          });
                          infowindow.open(map, marker);

                          $(".userPosition").click(function(){
                            map.panTo(coords);
                          })
                        }
                      });
                    }
                  })
                </script>
            </div>
              <div id="position_box">
                <button class="storePosition" ><i class="far fa-dot-circle"></i> 가게 위치로</button>
              </div>
        </div>
      </div>

      <div class="maingrid">
        <div class="detail_sec">
          <div class="menu_bar">
            <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
              <div class="w-tab-menu">
                <a data-w-tab="Tab 1" class="tab_heading w-inline-block w-tab-link w--current">
                  <div>메뉴</div>
                </a>
                <a data-w-tab="Tab 2" class="tab_heading w-inline-block w-tab-link">
                  <div>리뷰</div>
                </a>
                <a data-w-tab="Tab 3" class="tab_heading w-inline-block w-tab-link">
                  <div>상세정보</div>
                </a>
              </div>
              <div class="w-tab-content">
                <div data-w-tab="Tab 1" class="tab-pane-tab-1 w-tab-pane">
                  <div class="menulist">
                    <div th:each="menu :${storeDTO.menuDTOList}">
                      <a href="#" class="link-block w-inline-block" th:onclick="'openModal('+${menuStat.index}+')'">
                        <div class="div-block-5">
                          <h3>[[${menu.menuName}]]</h3>
                          <h4>[[${menu.menuPrice}]]원</h4>
                          <div>[[${menu.menuDesc}]]</div>
                        </div><img loading="lazy" th:src="|/display?fileName=${menu.getImageURL()}|" alt="" class="image-2">
                      </a>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
                  <div class="review-overview">
                    <div class="text-block-6">total Score</div>
                    <div class="star_score">
                      <div class="star_rating">
                            <span th:each="starValue : ${#numbers.sequence(1, 5)}"
                                  th:class="${starValue le 5} ? 'star on' : 'star'"
                                  th:value="${starValue}"> </span>
                      </div>
                      <div class="text-block">5.0</div>
                    </div>
                  </div>
                  <div class="reviewlist">
                    <div th:each="reviewDTO : ${reviewDTOList}">
                      <div class="reveiw_card">
                        <h3 class="review_title">[[${reviewDTO.nickname}]]</h3>
                        <div class="star_rating">
                            <span th:each="starValue : ${#numbers.sequence(1, 5)}"
                                  th:class="${starValue le reviewDTO.grade} ? 'star on' : 'star'"
                                  th:value="${starValue}"> </span>
                            <div class="text-block">[[${reviewDTO.grade}]].0</div>
                        </div>
                        <p class="paragraph">[[${reviewDTO.text}]]</p>
                      </div>
                    </div>
                    <div class="reveiw_card">
                      <h3 class="review_title">review title</h3>
                      <div class="star_score"><img src="images/1495916677round-star-png-image-yellow.png" loading="lazy" alt="" class="image-4"><img src="images/1495916677round-star-png-image-yellow.png" loading="lazy" alt="" class="image-4"><img src="images/1495916677round-star-png-image-yellow.png" loading="lazy" alt="" class="image-4"><img src="images/1495916677round-star-png-image-yellow.png" loading="lazy" alt="" class="image-4"><img src="images/Rounded-Star.png" loading="lazy" sizes="23px" srcset="images/Rounded-Star-p-500.png 500w, images/Rounded-Star-p-800.png 800w, images/Rounded-Star-p-1080.png 1080w, images/Rounded-Star-p-1600.png 1600w, images/Rounded-Star-p-2000.png 2000w, images/Rounded-Star-p-2600.png 2600w, images/Rounded-Star-p-3200.png 3200w, images/Rounded-Star.png 3358w" alt="" class="image-5">
                        <div class="text-block">4.0</div>
                      </div>
                      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 3" class="w-tab-pane">
                  <div class="store_inform">
                    <div class="inform_box">
                      <h3 class="inform_heading">상호명</h3>
                      <div class="inform_line"></div>
                      <p class="inform_text">[[${storeDTO.storeName}]]</p>
                    </div>
                    <div class="inform_box">
                      <h3 class="inform_heading">연락처</h3>
                      <div class="inform_line"></div>
                      <p class="inform_text">[[${storeDTO.storePhone}]]</p>
                    </div>
                    <div class="inform_box">
                      <h3 class="inform_heading">가게주소</h3>
                      <div class="inform_line"></div>
                      <p class="inform_text">[[${storeDTO.storeAddress1}]] 번지 [[${storeDTO.storeAddress1}]] [[${storeDTO.storeAddress1}]]</p>
                    </div>
                    <div class="inform_box">
                      <h3 class="inform_heading">가게정보</h3>
                      <div class="inform_line"></div>
                      <p class="inform_text">[[${storeDTO.storeDes}]]</p>
                    </div>
                    <div class="inform_box">
                      <h3 class="inform_heading">영업시간</h3>
                      <div class="inform_line"></div>
                      <p class="inform_text">[[${storeDTO.openingTime}]] ~ [[${storeDTO.closingTime}]]</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart_sec">
          <div class="cartbox">
            <h4 class="cart_heading">Cart</h4>
            <div class="cartlist" id="cartList">

            </div>
            <div class="cartamount">
              <div class="cartline"></div>
              <div class="delivery-fee" id="deliveryTip">배달 요금 : [[${storeDTO.deliveryTip}]] 원</div>
              <div class="amounttext" id="allPrice">최종 주문 금액</div>
            </div>
            <div class="cartbtnwrap">
              <a th:href="@{'/order/orderProgress/' + ${storeDTO.id}}" class="orderbutton w-inline-block" onclick="moveOrderProcess()">
                <div class="text-block-3" >Order</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=65fc42eb24b1318121bba199" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/js/webflow.js" type="text/javascript"></script>
</body>
</th:block>
</th:block>

<script th:inline="javascript">
let storeDTO = [[${storeDTO}]];
const modalWindow = $(".menu-modal-wrapper");
let cartDTO = [[${cartDTO}]];

$(document).ready(function() {
  console.log(cartDTO);
  cartShow(cartDTO);
  cartAmountShow(cartDTO);
});

$('#decrease').on('click', function() {
    let quantityInput = $(this).next('.amountinput');
    let currentValue = parseInt(quantityInput.val());
    if (currentValue > 1) {
      quantityInput.val(currentValue - 1);
      let menuIndex = $("#modalMenuIndex").html();
      if(menuIndex == null) { menuIndex = 0 };
      totalAmountShow(menuIndex);
    } else {
      alert('수량은 1보다 작을 수 없습니다!');
    }
  });

  $('#increase').on('click', function() {
      let quantityInput = $(this).prev('.amountinput');
      let currentValue = parseInt(quantityInput.val());
      quantityInput.val(currentValue + 1);
      let menuIndex = $("#modalMenuIndex").html();
      if(menuIndex == null) { menuIndex = 0 };
      totalAmountShow(menuIndex);
  });

  //수량 변경 시 총가격 변환 함수
  $('.amountinput').on('change', function() {
      let quantityInput = $(this);
      if (quantityInput.val() < 1) {
        alert('수량은 1보다 작을 수 없습니다!');
        quantityInput.val(1);
      }
      let menuIndex = $("#modalMenuIndex").html();
      if(menuIndex == null) { menuIndex = 0 };
      totalAmountShow(menuIndex);
  });

//cartDTO의 정보를 뿌리는 함수
function cartShow(cartDTO) {
   if(cartDTO == null) {
      $("#cartList").html("<div class='cartmenu'>카트가 비었습니다.</div>");
   }else {
      let str = "";
      for(let i = 0; i < cartDTO.cartMenuDTOList.length; i++) {
        let cartMenu = cartDTO.cartMenuDTOList[i];
        str += "<div class='cartmenu'><div class='menuhedingwrap'>"
        str += "<div name ='cartMenuId'></div>"
        str += "<h4 class='cartmenuheading'>"+cartMenu.menu_name+"</h4>"
        str += "<a href='#' class='button w-button' onclick='cartMenuDel("+cartMenu.cartMenu_id+")'>x</a></div>"
        str += "<div>메뉴 가격 : "+cartMenu.menu_price+" 원</div>"
        str += "<div class='cart-menu-optionlist'>"
        for(let cartMenuOp of cartMenu.cartMenuOptionDTOList) {
          str += "<div class='menu-detail-option'>"
          str += "<div class='option-left'>"
          str += "<div class='option-name'>"+cartMenuOp.menuOption_name+"</div>"
          str += "<div class='option-price'>"+cartMenuOp.menuOption_price+" 원</div>"
          if(cartMenuOp.checked) {
            str += "</div><div class='checkbox w-embed'><input type='checkbox' onchange='checkChange("+cartMenuOp.menuOptionId+")' "
            str += "value = '"+cartMenuOp.menuOption_price+"' id='ctOpCheck"+cartMenuOp.menuOptionId+"' checked /></div></div>"
          }else {
            str += "</div><div class='checkbox w-embed'><input type='checkbox' onchange='checkChange("+cartMenuOp.menuOptionId+")' "
            str += "value = '"+cartMenuOp.menuOption_price+"' id='ctOpCheck"+cartMenuOp.menuOptionId+"' /></div></div>"
          }
        }
        str += "</div><div class='amoutadd'><div class='amount'>수량</div><div class='amountbtndiv'>"
        str += "<a href='#' class='amountbtn left w-button' onclick='cartDecrease("+i+")'>-</a>"
        str += "<input type='number' class='amountinput' id='Cartamountinput"+i+"' name='count' value='"+cartMenu.count+"'/>"
        str += "<a href='#' class='amountbtn right w-button' onclick='cartIncrease("+i+")'>+</a></div>"
        str += "</div><div>총 금액 : <span id='CartMenuTp"+i+"'>total price</span></div></div>"
      }
      $("#cartList").html(str);
   }
};

//메뉴 클릭할 때 모달창이 열리면서 메뉴 값이 담김.
  function openModal(menuIndex) {
    const menuDTO = storeDTO.menuDTOList[menuIndex];

    $('.amountinput').val(1);
    $('#modalMenuIndex').html(menuIndex);
    $('#modalMenuImg').attr("src", "/display?fileName="+menuDTO.imageURL);
    $('#modalMenuName').html(menuDTO.menuName);
    $('#modalMenuPrice').html(menuDTO.menuPrice+" 원");
    $('#modalMenuDesc').html(menuDTO.menuDesc);
    $('#menuTotalPrice').html(menuDTO.menuPrice);
    $('#modalMenuId').html(menuDTO.id);

    let str = "";

    for(let option of menuDTO.menuOptionDTOList) {
      str += "<div class='menu-detail-option'><div class='option-left'>"
      str += "<div class='option-name'>"+option.opName+"</div>"
      str += "<div class='option-price'>"+option.opPrice+" 원</div>"
      str += "</div><div class='checkbox w-embed'>"
      str += "<input type='checkbox' value='"+option.opPrice+"'"
      str += " id='opCheck"+option.id+"' onchange='optionCheck("+option.id+")'/></div></div>"
    }
    $(".menu-optionlist").html(str);
    modalWindow.show();
  }

  //옵션리스트의 체크 여부와 카운트의 value값을 확인 후 최종 값을 계산하는 함수
  function totalAmountShow(menuIndex) {
    const menuDTO = storeDTO.menuDTOList[menuIndex];
    let totalPrice = 0;
    let menuPrice = menuDTO.menuPrice;
    totalPrice += parseInt(menuPrice);
    for (let i = 0; i < menuDTO.menuOptionDTOList.length; i++) {
      let optionId = menuDTO.menuOptionDTOList[i].id;
      let checkBox = $('#opCheck'+optionId);
      let opChecked = checkBox.prop('checked');
      let opPrice = checkBox.val();
      if(opChecked) {
        totalPrice += parseInt(opPrice);
      }
    }
    let amount = $('.amountinput').val();
    totalPrice = totalPrice*parseInt(amount);
    $('#menuTotalPrice').html(totalPrice);
  }

  //모달창을 닫는 함수
  function modalHide() {
     modalWindow.hide();
  }

  //옵션 체크시 총가격을 바꾸는 함수
  function optionCheck() {
    let menuIndex = $("#modalMenuIndex").html();
      if(menuIndex == null) { menuIndex = 0 };
      totalAmountShow(menuIndex);
  }

  //버튼 클릭시 메뉴를 카트에 담는 함수
  function addToCart() {
      let menuIndex = $("#modalMenuIndex").html();
      const menuDTO = storeDTO.menuDTOList[menuIndex];
      let menuId = menuDTO.id;
      let cartMenuOptionDTOList = [];

      for (let i = 0; i < menuDTO.menuOptionDTOList.length; i++) {
        let optionId = menuDTO.menuOptionDTOList[i].id;
        let checkBox = $('#opCheck'+optionId);
        let opChecked = checkBox.prop('checked');
        let CartMenuOptionDTO = {
              menuOptionId: optionId,
              menu_id: menuId,
              checked: opChecked
        };
        cartMenuOptionDTOList.push(CartMenuOptionDTO);
      }

      let cartMenuDTO = {
          menu_id: menuId,
          count: $('.amountinput').val(),
          cartMenuOptionDTOList: cartMenuOptionDTOList
      }

      $.ajax({
          type: "POST",
          url: "/cart/insert",
          data: JSON.stringify(cartMenuDTO),
          contentType: "application/json",
          success: function () {
              console.log("카트 담기 성공");
              cartDTOCall();
              modalWindow.hide();

          },
          error: function (e) {
             console.log(e)
          }
      })
    }

  //카트메뉴 삭제 버튼 함수
  function cartMenuDel(cartMenuId) {

  var data = {
    cartMenuId: cartMenuId
  };

  $.ajax({
    type: 'POST',
    url: '/cart/delete', // 서버 URL을 입력해야 합니다.
    data: JSON.stringify(data),
    contentType: "application/json",
    dataType: "json",
    success: function(cartResult) {
      console.log("삭제 성공");
      cartDTO = cartResult;
      cartShow(cartResult);
      cartAmountShow(cartResult);

    },
    error: function(error) {
      console.log(error);
      console.error('삭제 실패');
    }
  });
  }

  //카트에 담긴 옵션리스트의 체크 여부와 카운트의 value값을 확인 후 최종 값을 계산하는 함수
  function cartAmountShow(cartDTO) {
    if(cartDTO != null) {
      let cartTotalPrice = 0;
      for(let index = 0; index < cartDTO.cartMenuDTOList.length; index++) {
        let CartMenuDTO = cartDTO.cartMenuDTOList[index];
        let totalPrice = 0;
        let menuPrice = CartMenuDTO.menu_price;
        totalPrice += parseInt(menuPrice);
        console.log(totalPrice);
        for (let i = 0; i < CartMenuDTO.cartMenuOptionDTOList.length; i++) {
          let ctOptionId = CartMenuDTO.cartMenuOptionDTOList[i].menuOptionId;
          let checkBox = $('#ctOpCheck'+ctOptionId);
          let opChecked = checkBox.prop('checked');
          let opPrice = checkBox.val();
          if(opChecked) {
            totalPrice += parseInt(opPrice);
          }
        }
        let amount = $('#Cartamountinput'+index).val();
        totalPrice = totalPrice*parseInt(amount);
        $('#CartMenuTp'+index).html(totalPrice);
        cartTotalPrice += totalPrice;
      }
      cartTotalPrice += storeDTO.deliveryTip;
      $('#allPrice').html('총 주문금액 : '+cartTotalPrice+' 원');
    }else {
      $('#allPrice').html('총 주문금액 : 0 원');
    }
  }

   //카트 수량 변경 버튼
  function cartIncrease(index) {
    quantityInput = $('#Cartamountinput'+index);
    let currentValue = parseInt(quantityInput.val());
    quantityInput.val(currentValue + 1);
    cartAmountChange(index);
    cartAmountShow(cartDTO);
  }

  function cartDecrease(index) {
  quantityInput = $('#Cartamountinput'+index);
  let currentValue = parseInt(quantityInput.val());
    if (currentValue > 1) {
      quantityInput.val(currentValue - 1);
      cartAmountChange(index);
    } else {
      alert('수량은 1보다 작을 수 없습니다!');
    }
    cartAmountShow(cartDTO);
  }

  //카트의 메뉴 수량 변경 시 수량 변화 반영
  function cartAmountChange(index) {
    let count = $('#Cartamountinput'+index).val();
    let cartMenuId = cartDTO.cartMenuDTOList[index].cartMenu_id;

    var data = {
      cartMenu_id: cartMenuId,
      count: count
    };

    $.ajax({
      type: 'POST',
      url: '/cart/countUpdate', // 서버 URL을 입력해야 합니다.
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "text",
      success: function(response) {
        console.log(response);
      },
      error: function(error) {
        console.error('변경 실패');
      }
    });
  }
  //카트 체크 변환 시 체크 변화 반영
  function checkChange(MenuOptionId) {
    let checkBox = $('#ctOpCheck'+MenuOptionId);
    let checked = checkBox.prop('checked');

    var data = {
      menuOptionId: MenuOptionId,
      checked: checked
    };

    $.ajax({
      type: 'POST',
      url: '/cart/optionChecked', // 서버 URL을 입력해야 합니다.
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "text",
      success: function(response) {
        console.log(response);
        cartDTOCall();
      },
      error: function(error) {
        console.error('변경 실패');
      }
    });
  }

  function cartDTOCall() {
    $.ajax({
      type: 'POST',
      url: '/cart/cartList',
      dataType: "json",
      success: function(cartResult) {
        console.log(cartResult);
        cartDTO = cartResult;
        cartShow(cartResult);
        cartAmountShow(cartResult);
      },
      error: function(error) {
        console.error('카트 불러오기 실패');
      }
    });
  }
</script>
</html>