<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="section">
      <div class="w-layout-blockcontainer container w-container">
        <div class="signup-form-block w-form">
          <form id="email-form" action="/store/register" method="post" class="sighup-form" data-wf-page-id="660e61cd8bd6a6912cc72394" data-wf-element-id="acdbdd91-6f47-cef3-89ab-22d94249a896">
            <h1 class="str_reg_heading">가게 등록</h1>
            <label class="sigh-up-label">음식 카테고리</label>
            <select class="signup-select w-select" id="category" name="category">
              <option value="KOREA_FOOD">한식</option>
              <option value="USA_FOOD">미국식</option>
              <option value="JAPAN_FOOD">일식</option>
              <option value="CHINA_FOOD">중식</option>
            </select>
            <input type="hidden" name="member_id" id="member_id" th:value="${member_id}">
            <label class="sigh-up-label">상호명</label>
            <input class="input-round w-input" maxlength="256" placeholder="가게이름을 등록하세요" type="text" id="storeName" name="storeName" />
            <label class="sigh-up-label">가게 폰번호</label>
            <input class="input-round w-input" maxlength="256" placeholder="'-' 없이 입력해 주세요" type="text" id="storePhone" name="storePhone" />
            <label class="sigh-up-label">가게 주소</label>
            <div class="signup_address_block">
              <a href="#" class="signup_addressbtn w-button" onclick="sample6_execDaumPostcode()">우편번호 찾기</a>
              <input class="input-round address w-input" maxlength="256" placeholder="" type="text" id="storeAddress1" name="storeAddress1" />
            </div>
            <input class="input-round w-input" maxlength="256" type="text" id="storeAddress2" name="storeAddress2" />
            <label class="sigh-up-label">상세주소</label>
            <input class="input-round w-input" maxlength="256" type="text" id="storeAddress3" name="storeAddress3" />

            <label class="sigh-up-label">가게 이미지</label>
            <div class="storeregisterimgbox">
              <div class="image-insert">
                <div class="w-embed">
                  <input type="file" class="store-image-input files" id="fileInput">
                  <label class="store-image-label" data-browse="Browse"></label>
                    <div class="uploadResult">
                    <ul></ul>
                  </div>
                </div>
              </div>
            </div>

            <label class="sigh-up-label">가게 상세설명</label>
            <textarea placeholder="Example Text" maxlength="5000" class="storeregister_textarea w-input" id="storeDes" name="storeDes"></textarea>
            <label class="sigh-up-label">가게 영업시간</label>
            <div class="open_close_time_div">
              <div class="time_select w-embed"><input type="time" value="08:00:00" id="openingTime" name="openingTime"></div>
              <div class="time_and">~</div>
              <div class="time_select w-embed"><input type="time" value="22:00:00" id="closingTime" name="closingTime"></div>
            </div>
            <label class="sigh-up-label">최소주문금액</label>
            <input class="input-round w-input" maxlength="256" type="text" id="minDelivery" name="minDelivery">
            <label class="sigh-up-label">평균 배달시간</label>
            <input class="input-round w-input" maxlength="256" type="text" id="deliveryTime" name="deliveryTime">
            <label class="sigh-up-label">배달요금</label>
            <input class="input-round w-input" maxlength="256" type="text" id="deliveryTip" name="deliveryTip">

            <input type="submit" class="signup-submit w-button" value="sign up">
          </form>

          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</th:block>
</body>

<script>
  $(document).ready(function(e){
      $(".store-image-input").on("change", function() {
          let fileName = $(this).val().split("\\").pop();
          $(this).siblings(".store-image-label").addClass("selected").html(fileName);
          let formData = new FormData();
          let inputFile = $(this);
          let file = inputFile[0].files[0];
          if (file) {
              formData.append("uploadFile", file);
          } else {
              return;
          }

          $.ajax({
              url:'/uploadAjax',
              type: 'post',
              data: formData,
              processData: false,
              contentType: false,
              dataType: 'json',
              success: function(result) {
                  console.log(result);
                  showResult(result);
              },
              error: function(err) {
                console.log(err);
              }
          })
      })
      function showResult(obj) {
        let str = "";
        let uploadUL = $(".uploadResult ul");
        str += "<li>"
        str += "<div>"
        str += "<button type='button' data-file='"+obj.imageURL+"' class='btn-warning btn-sm'>X</button>"
        str += "<img src='/display?fileName="+obj.thumbnailURL+"'>";
        str += "</div></li>"
        str += "<input type='hidden' name='imgName' value='"+obj.fileName+"' >";
        str += "<input type='hidden' name='path' value='"+obj.folderPath+"' >";
        str += "<input type='hidden' name='uuid' value='"+obj.uuid+"' >";
        uploadUL.append(str);
      }
  })
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function sample6_execDaumPostcode() {
      new daum.Postcode({
          oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

              // 각 주소의 노출 규칙에 따라 주소를 조합한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              var addr = ''; // 주소 변수
              var extraAddr = ''; // 참고항목 변수

              //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
              if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                  addr = data.roadAddress;
              } else { // 사용자가 지번 주소를 선택했을 경우(J)
                  addr = data.jibunAddress;
              }

              // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
              if(data.userSelectedType === 'R'){
                  // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                  // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                  if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                      extraAddr += data.bname;
                  }
                  // 건물명이 있고, 공동주택일 경우 추가한다.
                  if(data.buildingName !== '' && data.apartment === 'Y'){
                      extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                  }
                  // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                  if(extraAddr !== ''){
                      extraAddr = ' (' + extraAddr + ')';
                  }
                  // 조합된 참고항목을 해당 필드에 넣는다.
                  document.getElementById("storeAddress3").value = extraAddr;

              } else {
                  document.getElementById("storeAddress3").value = '';
              }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              document.getElementById('storeAddress1').value = data.zonecode;
              document.getElementById("storeAddress2").value = addr;
              // 커서를 상세주소 필드로 이동한다.
              document.getElementById("storeAddress3").focus();
          }
      }).open();
  }
</script>
</html>