<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e400eae390747a237232735511d63bb&libraries=services,clusterer,drawing"></script>
        <link rel="stylesheet" type="text/css" href="/testcss/detail.css">
        <h1>가게정보</h1>
        <div class="form-group">
            <label>가게이름</label>
            <input type="text" class="form-control" id="storeName" name="storeName" th:value="${storeDTO.storeName}"/>
        </div>
        <div class="form-group">
            <label>가게 핸드폰 번호</label>
            <input type="text" class="form-control" id="storePhone" name="storePhone" th:value="${storeDTO.storePhone}"/>
        </div>

        <!-- 장바구니 -->
        <aside id="cart">
            <div class="cart">
                <h2>장바구니</h2>
                <i class="far fa-trash-alt deliteAll" ></i>

                <div class="cart_list">
                    <ul>
                        <!--
                        <li>
                            <h3>메뉴</h3>
                                  <div>가격</div>
                                  <div>수량 : 0 </div>
                                  <div> 옵션  </div>
                                  <div>합계 : 0원</div>
                                  <button class="cancle_btn"> ｘ </button>
                        </li>
                                  -->
                    </ul>
                </div>

                <div class="order_btn_box">
                    <div class="total">장바구니가 비었습니다.</div>
                    <button class="order_btn" disabled>주문하기</button>
                </div>
            </div>

        </aside>
        <div class="alarm">장바구니에 담았습니다</div>
        <!-- 장바구니 -->


        <main>
            <div class="offset"></div>
            <ul class="tab ">
                <li class="select">메뉴</li>
                <li>정보</li>
                <li>리뷰</li>
            </ul>


            <!-- 메뉴 탭 -->
            <ul class="menu">



            </ul>
            <!-- 메뉴 탭 -->


            <!-- 정보 탭 -->
            <ul class="info" >
                <li>
                    <div>
                        <h2>찾아 오시는 길</h2>
                        <div id="store_address" th:data-address="${storeDTO.getStoreAddress2()}"></div>
                        <div id="store_Name" th:data-store_name="${storeDTO.storeName}"></div>
                        <div id="map" style="width:500px;height:400px;">
                            <script>
                                $(document).ready(function(){
                                    var storeAddress = $("#store_address").data("address");
                                    console.log("storeAdd: "+ storeAddress)
                                    var storeName = $("#store_Name").data("store_name");
                                    console.log("storeName: " + storeName)
                                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                        mapOption = {
                                            center: new kakao.maps.LatLng(33.25110701, 126.570667), // 지도의 중심좌표
                                            level: 3 // 지도의 확대 레벨
                                        };
                                    // 지도를 생성합니다
                                    var map = new kakao.maps.Map(mapContainer, mapOption);
                                    // 주소-좌표 변환 객체를 생성합니다
                                    var geocoder = new kakao.maps.services.Geocoder();
                                    // 주소로 좌표를 검색합니다
                                    geocoder.addressSearch(storeAddress, function(result, status) {
                                        // 정상적으로 검색이 완료됐으면
                                        if (status === kakao.maps.services.Status.OK) {
                                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                            // 결과값으로 받은 위치를 마커로 표시합니다
                                            var marker = new kakao.maps.Marker({
                                                map: map,
                                                position: coords
                                            });
                                            // 인포윈도우로 장소에 대한 설명을 표시합니다
                                            var infowindow = new kakao.maps.InfoWindow({
                                                content: '<div style="width:150px;text-align:center;padding:3px 0;">' + storeName + '</div>'
                                            });
                                            infowindow.open(map, marker);
                                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                            map.setCenter(coords);
                                            $(".storePosition").click(function(){
                                                map.panTo(coords);
                                            })
                                        }
                                    });
                                    var userAddress = $("#delivery_address").val();
                                    if(userAddress != "" ) {
                                        $(".userPosition").css("display" , "inline");
                                        // 주소로 좌표를 검색합니다
                                        geocoder.addressSearch(userAddress, function(result, status) {
                                            // 정상적으로 검색이 완료됐으면
                                            if (status === kakao.maps.services.Status.OK) {
                                                coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                                // 결과값으로 받은 위치를 마커로 표시합니다
                                                var marker = new kakao.maps.Marker({
                                                    map: map,
                                                    position: coords
                                                });
                                                // 인포윈도우로 장소에 대한 설명을 표시합니다
                                                var infowindow = new kakao.maps.InfoWindow({
                                                    content: '<div style="width:150px;text-align:center;padding:3px 0;">' + "배달받을위치" + '</div>'
                                                });
                                                infowindow.open(map, marker);

                                                $(".userPosition").click(function(){
                                                    map.panTo(coords);
                                                })
                                            }
                                        });
                                    }
                                })
                            </script>
                        </div>
                            <div id="position_box">
                                <button class="storePosition" ><i class="far fa-dot-circle"></i> 가게 위치로</button>
                                <button class="userPosition"> <i class="far fa-dot-circle"></i> 내 위치로</button>
                            </div>
                        <h2>위치안내</h2>
                        <div th:text="${storeDTO.getStoreAddress2()}"></div>
                    </div>
                </li>

                <li>
                    <div>
                        <h2>가게 소개</h2>
                        <div th:text="${storeDTO.getStoreDes()}"></div>
                    </div>
                </li>

                <li>
                    <div>
                        <h2>영업 정보</h2>

                        <div class="info_detail_title">
                            <div>상호명</div>
                            <div>영업시간</div>
                            <div>전화번호</div>

                        </div>

                        <div class="info_detail">
                            <div th:text="${storeDTO.storeName}"></div>
                            <div>
                                <span th:text="${storeDTO.openingTime}+'시 ~ '+${storeDTO.closingTime}+'시 까지 영업'"></span>
                            </div>
                            <div th:text="${storeDTO.getStorePhone()}"></div>

                        </div>
                    </div>
                </li>

                <li>
                    <div>
                        <h2>가계 통계</h2>
                        <div class="info_detail_title">
                            <div>최근 주문수</div>
                            <div>전체 리뷰 수</div>
                            <div>찜</div>
                        </div>

                        <div class="info_detail">
                            <div>${info.orderCount }</div>
                            <div>${info.reviewCount }</div>
                            <div>${info.likesCount }</div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- 메뉴 탭 -->

            <!-- 리뷰 탭 -->
            <ul class="comment" >
            </ul>
        </main>

        <input type="hidden" th:value="${storeDTO.id}" id="store_id">
        <input type="hidden" th:value="${storeDTO.category}" id="store_category">
        <input type="hidden" th:value="${storeDTO.openingTime}" id="store_opening_time">
        <input type="hidden" th:value="${storeDTO.closingTime}" id="store_closing_time">
<!--
        <input type="hidden" th:value="${BMaddress.address2}" id="delivery_address">-->
    </th:block>
</th:block>
</html>