<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="section">
      <div class="w-layout-blockcontainer container w-container">
        <div class="bigcartmenu">
          <a href="#" class="cartHeadcardText w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="storeupdateimg">
            <h3 class="cartHeadingText">스토어 이름</h3>
            <div class="storeadress">스토어 주소</div>
          </a>
          <div class="cartlist" id="cartList">
            <!--<div class="cartlistmenu">
              <div class="div-block-11"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-7">
                <div class="div-block-12">
                  <div class="menuhedingwrap">
                    <h4 class="cartmenulistheading">메뉴 이름</h4>
                    <a href="#" class="button w-button">x</a>
                  </div>
                  <div>메뉴가격</div>
                  <div class="cart-menu-optionlist">
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">옵션 이름</div>
                        <div class="option-price">옵션 가격</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">옵션 이름</div>
                        <div class="option-price">옵션 가격</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">옵션 이름</div>
                        <div class="option-price">옵션 가격</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                  </div>
                  <div class="amountbtndiv">
                    <a href="#" class="amountbtn left w-button" onclick="cartDecrease(0)">-</a>
                    <input type="number" class="amountinput" id="Cartamountinput0" name="count" value="1">
                    <a href="#" class="amountbtn right w-button" onclick="cartIncrease(0)">+</a>
                  </div>
                  <div> 총 메뉴 가격</div>
                </div>
              </div>
            </div>-->
          </div>
          <div class="menuplus"></div>
          <div class="cartamount">
            <div class="cartline"></div>
            <div class="delivery-fee">배달비용 : 3000 원</div>
            <div class="amounttext" id="allPrice">total price $</div>
          </div>
          <div class="cartbtnwrap">
            <a href="#" class="orderbutton w-inline-block">
              <div class="text-block-3">Order</div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</th:block>
</body>
<script th:inline="javascript">
  let cartDTO = [[${cartDTO}]];

  $(document).ready(function() {
    console.log(cartDTO);
    cartShow(cartDTO);
    cartAmountShow(cartDTO);
  })

  function cartShow(cartDTO) {
     if(cartDTO == null) {
        $("#cartList").html("<div class='cartmenu'>카트가 비었습니다.</div>");
     }else {
        let str = "";
        for(let i = 0; i < cartDTO.cartMenuDTOList.length; i++) {
          let cartMenu = cartDTO.cartMenuDTOList[i];
          str += "<div class='cartmenu'><div class='div-block-11'>"
          str += "<img src='#' loading='lazy' alt='' class='image-7'>"
          str += "<div class='div-block-12'><div class='menuhedingwrap'>"
          str += "<div name ='cartMenuId'></div>"
          str += "<h4 class='cartmenuheading'>"+cartMenu.menu_name+"</h4>"
          str += "<a href='#' class='button w-button' onclick='cartMenuDel("+cartMenu.cartMenu_id+")'>x</a></div>"
          str += "<div>메뉴 가격 : "+cartMenu.menu_price+" 원</div>"
          str += "<div class='cart-menu-optionlist'>"
          for(let cartMenuOp of cartMenu.cartMenuOptionDTOList) {
            str += "<div class='menu-detail-option'>"
            str += "<div class='option-left'>"
            str += "<div class='option-name'>"+cartMenuOp.menuOption_name+"</div>"
            str += "<div class='option-price'>"+cartMenuOp.menuOption_price+" 원</div>"
            if(cartMenuOp.checked) {
              str += "</div><div class='checkbox w-embed'><input type='checkbox' onchange='checkChange("+cartMenuOp.menuOptionId+")' "
              str += "value = '"+cartMenuOp.menuOption_price+"' id='ctOpCheck"+cartMenuOp.menuOptionId+"' checked /></div></div>"
            }else {
              str += "</div><div class='checkbox w-embed'><input type='checkbox' onchange='checkChange("+cartMenuOp.menuOptionId+")' "
              str += "value = '"+cartMenuOp.menuOption_price+"' id='ctOpCheck"+cartMenuOp.menuOptionId+"' /></div></div>"
            }
          }
          str += "</div><div class='amoutadd'><div class='amount'>수량</div><div class='amountbtndiv'>"
          str += "<a href='#' class='amountbtn left w-button' onclick='cartDecrease("+i+")'>-</a>"
          str += "<input type='number' class='amountinput' id='Cartamountinput"+i+"' name='count' value='"+cartMenu.count+"'/>"
          str += "<a href='#' class='amountbtn right w-button' onclick='cartIncrease("+i+")'>+</a></div>"
          str += "</div><div>총 금액 : <span id='CartMenuTp"+i+"'>total price</span></div></div></div></div>"
        }
        $("#cartList").html(str);
     }
  };

  //카트메뉴 삭제 함수
  function cartMenuDel(cartMenuId) {
  var data = {
    cartMenuId: cartMenuId
  };
  $.ajax({
    type: 'POST',
    url: '/cart/delete', // 서버 URL을 입력해야 합니다.
    data: JSON.stringify(data),
    contentType: "application/json",
    dataType: "json",
    success: function(cartResult) {
      console.log("삭제 성공");
      cartDTO = cartResult;
      cartShow(cartResult);
      cartAmountShow(cartResult);

    },
    error: function(error) {
      console.log(error);
      console.error('삭제 실패');
    }
  });
  }

//카트에 담긴 옵션리스트의 체크 여부와 카운트의 value값을 확인 후 최종 값을 계산하는 함수
  function cartAmountShow(cartDTO) {
    if(cartDTO != null) {
      let cartTotalPrice = 0;
      for(let index = 0; index < cartDTO.cartMenuDTOList.length; index++) {
        let CartMenuDTO = cartDTO.cartMenuDTOList[index];
        let totalPrice = 0;
        let menuPrice = CartMenuDTO.menu_price;
        totalPrice += parseInt(menuPrice);
        console.log(totalPrice);
        for (let i = 0; i < CartMenuDTO.cartMenuOptionDTOList.length; i++) {
          let ctOptionId = CartMenuDTO.cartMenuOptionDTOList[i].menuOptionId;
          let checkBox = $('#ctOpCheck'+ctOptionId);
          let opChecked = checkBox.prop('checked');
          let opPrice = checkBox.val();
          if(opChecked) {
            totalPrice += parseInt(opPrice);
          }
        }
        let amount = $('#Cartamountinput'+index).val();
        totalPrice = totalPrice*parseInt(amount);
        $('#CartMenuTp'+index).html(totalPrice);
        cartTotalPrice += totalPrice;
      }
      cartTotalPrice += 3000;
      $('#allPrice').html('총 주문금액 : '+cartTotalPrice+' 원');
    }else {
      $('#allPrice').html('총 주문금액 : 0 원');
    }
  }

   //카트 수량 변경 버튼
  function cartIncrease(index) {
    quantityInput = $('#Cartamountinput'+index);
    let currentValue = parseInt(quantityInput.val());
    quantityInput.val(currentValue + 1);
    cartAmountChange(index);
    cartAmountShow(cartDTO);
  }

  function cartDecrease(index) {
  quantityInput = $('#Cartamountinput'+index);
  let currentValue = parseInt(quantityInput.val());
    if (currentValue > 1) {
      quantityInput.val(currentValue - 1);
      cartAmountChange(index);
    } else {
      alert('수량은 1보다 작을 수 없습니다!');
    }
    cartAmountShow(cartDTO);
  }

  //카트의 메뉴 수량 변경 시 수량 변화 반영
  function cartAmountChange(index) {
    let count = $('#Cartamountinput'+index).val();
    let cartMenuId = cartDTO.cartMenuDTOList[index].cartMenu_id;

    var data = {
      cartMenu_id: cartMenuId,
      count: count
    };

    $.ajax({
      type: 'POST',
      url: '/cart/countUpdate', // 서버 URL을 입력해야 합니다.
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "text",
      success: function(response) {
        console.log(response);
      },
      error: function(error) {
        console.error('변경 실패');
      }
    });
  }
  //카트 체크 변환 시 체크 변화 반영
  function checkChange(MenuOptionId) {
    let checkBox = $('#ctOpCheck'+MenuOptionId);
    let checked = checkBox.prop('checked');

    var data = {
      menuOptionId: MenuOptionId,
      checked: checked
    };

    $.ajax({
      type: 'POST',
      url: '/cart/optionChecked', // 서버 URL을 입력해야 합니다.
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "text",
      success: function(response) {
        console.log(response);
        cartDTOCall();
      },
      error: function(error) {
        console.error('변경 실패');
      }
    });
  }

  function cartDTOCall() {
    $.ajax({
      type: 'POST',
      url: '/cart/cartList',
      dataType: "json",
      success: function(cartResult) {
        console.log(cartResult);
        cartDTO = cartResult;
        cartShow(cartResult);
        cartAmountShow(cartResult);
      },
      error: function(error) {
        console.error('카트 불러오기 실패');
      }
    });
  }
</script>
</html>