<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="section">
      <div class="w-layout-blockcontainer container w-container">
        <div class="bigcartmenu">
          <a href="#" class="storeupdatecard w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="storeupdateimg">
            <h3>스토어 이름</h3>
            <div class="storeadress">스토어 주소</div>
          </a>
          <div class="cartlist">
            <div class="cartlistmenu">
              <div class="div-block-11"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-7">
                <div class="div-block-12">
                  <div class="menuhedingwrap">
                    <h4 class="cartmenulistheading">메뉴 이름</h4>
                    <a href="#" class="button w-button">x</a>
                  </div>
                  <div>t메뉴가격</div>
                  <div class="cart-menu-optionlist">
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">옵션 이름</div>
                        <div class="option-price">옵션 가격</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">옵션 이름</div>
                        <div class="option-price">옵션 가격</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">옵션 이름</div>
                        <div class="option-price">옵션 가격</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                  </div>
                  <div> 총 메뉴 가격</div>
                </div>
              </div>
            </div>
            <div class="cartlistmenu">
              <div class="div-block-11"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-7">
                <div class="div-block-12">
                  <div class="menuhedingwrap">
                    <h4 class="cartmenulistheading">menuName</h4>
                    <a href="#" class="button w-button">x</a>
                  </div>
                  <div>total price</div>
                  <div class="cart-menu-optionlist">
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">option name</div>
                        <div class="option-price">option price $</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">option name</div>
                        <div class="option-price">option price $</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">option name</div>
                        <div class="option-price">option price $</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                  </div>
                  <div>menuPrice</div>
                </div>
              </div>
            </div>
            <div class="cartlistmenu">
              <div class="div-block-11"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-7">
                <div class="div-block-12">
                  <div class="menuhedingwrap">
                    <h4 class="cartmenulistheading">menuName</h4>
                    <a href="#" class="button w-button">x</a>
                  </div>
                  <div>total price</div>
                  <div class="cart-menu-optionlist">
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">option name</div>
                        <div class="option-price">option price $</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">option name</div>
                        <div class="option-price">option price $</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                    <div class="menu-detail-option">
                      <div class="option-left">
                        <div class="option-name">option name</div>
                        <div class="option-price">option price $</div>
                      </div>
                      <div class="checkbox w-embed"><input type="checkbox" checked=""></div>
                    </div>
                  </div>
                  <div class="amountbtndiv">
                    <a href="#" class="amountbtn left w-button" onclick="cartDecrease(0)">-</a>
                    <input type="number" class="amountinput" id="Cartamountinput0" name="count" value="1">
                    <a href="#" class="amountbtn right w-button" onclick="cartIncrease(0)">+</a>
                  </div>
                  <div>menuPrice</div>
                </div>
              </div>
            </div>
          </div>
          <div class="menuplus"></div>
          <div class="cartamount">
            <div class="cartline"></div>
            <div class="delivery-fee">+ delivery fee $</div>
            <div class="amounttext">total price $</div>
          </div>
          <div class="cartbtnwrap">
            <a href="#" class="orderbutton w-inline-block">
              <div class="text-block-3">Order</div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</th:block>
</body>
</html>